@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-red-500: oklch(0.637 0.237 25.331);
}

@layer components {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    background-color: var(--color-red-500);
    border-radius: 5px;
    padding: 20px;
    box-shadow: var(--shadow-xl);
    transition: 0.2s ease-in-out all;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--color-red-500);
    filter: brightness(0.8);
  }

  .card {
    background-color: rgba(251, 199, 44, 0.3);
    border-radius: 10px;
    padding: 10px;
    box-shadow: -1px 3px 8px rgba(251, 44, 54, 0.3);
    width: calc((100% / 7) - 10px);
    min-width: 200px;
    flex-grow: 2;
  }
}
